name: Code Review

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    types: [opened, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: fffchameleon/SE_hw5@gpt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
		  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
